<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.mapper.LicenseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="LicenseVOResultMap" type="com.oa.entity.vo.LicenseVO">
        <id column="open_id" property="openId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="orderByCreateTimeASC">
        order by status asc,create_time desc
    </sql>

    <select id="selectLicenseVOList" resultMap="LicenseVOResultMap">
        SELECT l.*,u.username FROM tb_license l LEFT JOIN tb_user u ON l.open_id = u.open_id
        <include refid="orderByCreateTimeASC"></include>
    </select>
</mapper>
